* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'system-ui';
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
.product-navbar {
  height: 40px;
  width: 100%;
  background: #090b0f;
  border-bottom: 1px solid #090b0f;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.product-navbar .product-navbar-centered {
  max-width: 90vw;
  height: 20px;
  margin: 0 5vw;
}
.product-navbar .product-navbar-centered ul {
  margin: 0;
  padding: 0;
}
.product-navbar .product-navbar-centered ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
  padding-top: 9px;
}
.product-navbar .product-navbar-centered ul li a {
  color: #6f7782;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none !important;
}

.hero {
  background: #171b23;
  padding-left: 0;
  padding-right: 0;
}
.hero .container {
  margin: 0 5vw;
  padding: 0 0vw;
  max-width: 90vw;
}
.hero .navbar-brand {
  color: #fff;
}
.hero .navbar-brand img {
  margin-right: 7px;
  margin-top: -7px;
}

#about-main {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}
#about-main .row {
  margin-left: 0;
  margin-right: 0;
}
#about-main .jumbotron {
  width: 100%;
  height: 530px;
  background: #171b23;
  /* position: relative; */
  margin: 0;
  z-index: 3;
  border-radius: 0px;
}
#about-main .jumbotron .img-layer-container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#about-main .jumbotron .img-layer-container img {
  max-width: 95vw;
}
#about-main .jumbotron .img-layer-container .team-image {
  position: absolute;
}
#about-main .jumbotron .img-layer-container .team-image img {
  position: relative;
  z-index: 3;
}
#about-main .jumbotron .img-layer-container .circles-container {
  position: absolute;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#about-main .jumbotron .img-layer-container .circles-container .img-1 {
  position: absolute;
  z-index: 2;
}
#about-main .jumbotron .img-layer-container .circles-container .img-2 {
  position: absolute;
  z-index: 5;
}
#about-main .jumbotron .jumbotron-inner {
  max-width: 1350px;
  margin: 0 auto;
}
#about-main .jumbotron .jumbotron-inner a {
  text-decoration: none;
}
#about-main .jumbotron .jumbotron-inner .top-box {
  max-width: 950px;
  margin: 0 auto;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box {
  margin: 0 50px 35px;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box p {
  text-align: center;
  color: #6f7782;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}
@media (max-width: 1401px) {
  #about-main .jumbotron {
    height: 325px !important;
  }
  #about-main .jumbotron .jumbotron-inner {
    max-width: 900px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box {
    max-width: 900px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box h3 {
    font-size: 35px;
    margin: 5px 0px 20px 0px;
    color: #6f7782;
    font-weight: 300;
  }
}
@media (max-width: 1000px) {
  #about-main .jumbotron .img-layer-container {
    width: 100%;
  }
}
@media (max-width: 815px) {
  #about-main .jumbotron .jumbotron-inner {
    max-width: 600px;
  }
}
@media (max-width: 640px) {
  #about-main .jumbotron {
    height: 448px !important;
  }
  #about-main .jumbotron .jumbotron-inner {
    max-width: 550px;
    padding: 0 20px;
  }
  #about-main .jumbotron .img-1, #about-main .jumbotron .img-2, #about-main .jumbotron .team-image {
    display: none;
  }
}
@media (max-width: 420px) {
  #about-main .jumbotron .jumbotron-inner {
    max-width: 600px;
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  #about-main .jumbotron .jumbotron-inner .top-box .content-box {
    margin: 30px 0;
    margin-top: 0;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box h1 {
    font-size: 35px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box p {
    font-size: 16px;
  }
}
#about-main .story-container {
  height: 100%;
  width: 100%;
  margin-top: 150px;
}
@media (max-width: 640px) {
  #about-main .story-container {
    margin-top: 80px;
  }
}
#about-main .story-container .container-divider {
  margin-top: 100px;
}
@media (max-width: 640px) {
  #about-main .story-container .container-divider {
    margin-top: 50px;
  }
}
#about-main .story-container .need-for-dx-container, #about-main .story-container .our-tech-container, #about-main .story-container .origin-story-container, #about-main .story-container .today-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 815px) {
  #about-main .story-container .need-for-dx-container, #about-main .story-container .our-tech-container, #about-main .story-container .origin-story-container, #about-main .story-container .today-container {
    width: 100%;
  }
}
#about-main .story-container .need-for-dx-container .img-container, #about-main .story-container .our-tech-container .img-container, #about-main .story-container .origin-story-container .img-container, #about-main .story-container .today-container .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#about-main .story-container .need-for-dx-container .img-container img, #about-main .story-container .our-tech-container .img-container img, #about-main .story-container .origin-story-container .img-container img, #about-main .story-container .today-container .img-container img {
  margin: 50px auto;
}
#about-main .story-container .need-for-dx-container h3, #about-main .story-container .our-tech-container h3, #about-main .story-container .origin-story-container h3, #about-main .story-container .today-container h3 {
  color: #074e8c;
}
#about-main .story-container .need-for-dx-container p, #about-main .story-container .our-tech-container p, #about-main .story-container .origin-story-container p, #about-main .story-container .today-container p {
  font-size: 15px;
  margin-top: 20px;
  color: #676a6c;
}
@media (max-width: 640px) {
  #about-main .story-container .need-for-dx-container p, #about-main .story-container .our-tech-container p, #about-main .story-container .origin-story-container p, #about-main .story-container .today-container p {
    font-size: 13px;
  }
}
#about-main .story-container .need-for-dx-container ul, #about-main .story-container .our-tech-container ul, #about-main .story-container .origin-story-container ul, #about-main .story-container .today-container ul {
  margin-top: 30px;
  list-style-image: url("https://apimatic.io/img/theme/aboutUs/bullet.svg");
}
#about-main .story-container .need-for-dx-container ul li, #about-main .story-container .our-tech-container ul li, #about-main .story-container .origin-story-container ul li, #about-main .story-container .today-container ul li {
  line-height: 25px;
  padding-left: 5px;
  color: #676a6c;
}



.disscussDiv{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disscussDivHeading{
  font-size: 22px;
  font-family: 'PT Sans';
}

.disscussDivDesc{
  font-size: 13px;
    font-family: emoji;
    margin-top: 14px;
}
.contactWrapper{
  padding: 24px;
}

.contactWrapper .disscussDivDesc{
  margin-top: 0px;
  font-size: 16px;
}

.contactWrapperContainer{
  margin-top: 14px;
}

.setBackGround{
  background-image: url('/images/solarB.jpg');
  color: white;
}

#prices {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  font-family: 'open sans';
  font-weight: normal;
}

.pricing-table {
  width: 95%;
  margin: auto auto 20px auto;
  position: relative;
  min-height: 340px;
  padding-bottom: 55px;
  text-align: center;
  background: #fff;
  border: 1px solid lightgrey;
    border-radius: 10px;
}

.pricing-table td {
  width: 33%;
  vertical-align: top;
}

.pricing-table h2 {
  display: block;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 1.4em;
  background: #009342;
  font-weight: 800;
  text-transform: uppercase;
}

#prices td:last-child h2 {
  background: #018FFF;
}

.pricing-table h3 {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  background: #102e5c;
  font-size: 0.9em;
}

#prices td:last-child h3 {
  background: #018FFF;
}

.pricing-table h4 {
  display: block;
  margin: 0;
  width: 100%;
  padding: 20px;
  background: #30B643;
  font-size: 1.75em;
  box-sizing: border-box;
}

#prices td:last-child h4 {
  background: #39B5FF;
}

.pricing-table h5 {
  display: block;
  margin: 0 0 15px 0;
  font-weight: 700;
  padding: 10px;
  background: #44D354;
}

#prices td:last-child h5 {
  background: #65CAFC;
}

.pricing-table h2,
.pricing-table h3,
.pricing-table h4,
.pricing-table h5 {
  color: #fff;

}
.pricing-table h2 {
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Popular Table */
.popular .pricing-table {
  margin-top: -10px;
  min-height: 400px;
}

.popular .pricing-table h2 {
  font-size: 1.8em;
  background: #FF9138;
}

.popular .pricing-table h3 {
  background: #FF9138;
}

.popular .pricing-table h4 {
  background: #FEB63D;
}

.popular .pricing-table h5 {
  background: #F7CD6F;
}

.pricing-table p {
  margin: 10px auto;
  padding: 5px 0 5px;
  width: 80%;
  font-weight: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table h5 + p {
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.pricing-table a {
  display: block;
  margin: auto;
  width: 45%;
  padding: 10px 0;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  font-size: 0.85em;
  color: #fff;
  background: #2F333C;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popular .pricing-table a {
  background: #2F333C;
}

.pricing-table a:hover {
  background: #505A6B;
}

/*------------------------------------*/
/*---------- MEDIA QUERIES -----------*/
/*------------------------------------*/
@media screen and (max-width: 700px) {
  #prices td {
    display: block !important;
    width: 100% !important;
  }

  .pricing-table {
    min-height: 0;
  }

  .popular .pricing-table {
    margin-top: 0px;
  }
}

.checkmark li{
  position: relative;
  padding-left: 30px;
  margin-left: 10px;
}

ul.checkmark li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.priceCOnatiner{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 233px;
  border-bottom-left-radius: 25px;
  background: #2175f33b;
  border-bottom-right-radius: 203px;
  color: white;
  font-size: 21px;
    font-weight: 800;
}
.residentialCOnatiner{
  position: relative;
  font-size: 0.8em;
  font-weight: 800;
}
.checkmark{
  margin-top: 15px;
}

.councilCOnatiner{
  position: absolute;
  right: 15px;
  bottom: 0;
}
.priceCOnatiner h2,h4{
padding-left: 10px;
}

.marquee{
  -webkit-marquee: auto medium infinite scroll normal;
  overflow-x: -webkit-marquee;
}

.rcs_slideCon .itemWrapper img{
  width: 100% !important;
}


.productImage{
  /* width: 100%; */
}

@media (max-width: 640px) {
  .productImage{
    width: 100%;
  }
  .productDownloadBtn{
    width: 100%;
  }
}




.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  /* background: #009bff; */
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.centerParagraph{
  display: flex;
  align-items: center;
}


.steps {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0px;
  list-style: none;
  font-family: sans-serif;
}
.steps li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 0px 20px;
  position: relative;
  margin-top: 14px;
}
.steps li div {
  position: relative;
  padding: 1px 0px;
  background: #cccccc;
  box-sizing: border-box;
  transform: scale(0.999999);
  transition: all 0.3s ease;
  cursor: pointer;
}
.steps li div span {
  display: block;
  transition: all 0.3s ease;
}
.steps li div span:nth-child(1) {
  position: absolute;
  left: 100%;
  top: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #cccccc;
}
.steps li div span:nth-child(2) {
  position: absolute;
  right: 100%;
  top: 0px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #cccccc;
}
.steps li div span:nth-child(3) {
  position: absolute;
  right: 100%;
  bottom: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid #cccccc;
}
.steps li div span:nth-child(4) {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 12px;
  width: 12px;
  margin-top: -6px;
  border-radius: 100%;
  background: transparent;
  z-index: 2;
  border: 1px solid #cccccc;
}
.steps li div span:nth-child(5) {
  position: absolute;
  left: 100%;
  top: 1px;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid white;
}
.steps li div span:nth-child(6) {
  position: absolute;
  right: 100%;
  top: 1px;
  border-bottom: 19px solid transparent;
  border-right: 19px solid white;
  margin-right: -1px;
}
.steps li div span:nth-child(7) {
  position: absolute;
  right: 100%;
  bottom: 1px;
  border-top: 19px solid transparent;
  border-right: 19px solid white;
  margin-right: -1px;
}
.steps li div span:nth-child(8) {
  display: block;
  padding: 0px 10px;
  position: relative;
  height: 38px;
  line-height: 38px;
  background: white;
  color: black;
}
.steps li:hover div {
  background: #ddd;
}
.steps li:hover div span:nth-child(1) {
  border-left-color: #ddd;
}
.steps li:hover div span:nth-child(2), .steps li:hover div span:nth-child(3) {
  border-right-color: #ddd;
}
.steps li:hover div span:nth-child(4) {
  background: white;
  border-color: #ddd;
}
.steps li:hover div span:nth-child(5) {
  border-left-color: #ddd;
}
.steps li:hover div span:nth-child(6), .steps li:hover div span:nth-child(7) {
  border-right-color: #ddd;
}
.steps li:hover div span:nth-child(8) {
  background: #ddd;
  color: black;
}
.steps li.active div {
  background: #2fbe6e;
}
.steps li.active div span:nth-child(1) {
  border-left-color: #2fbe6e;
}
.steps li.active div span:nth-child(2), .steps li.active div span:nth-child(3) {
  border-right-color: #2fbe6e;
}
.steps li.active div span:nth-child(4) {
  background: white;
  border-color: #2fbe6e;
}
.steps li.active div span:nth-child(5) {
  border-left-color: #2fbe6e;
}
.steps li.active div span:nth-child(6), .steps li.active div span:nth-child(7) {
  border-right-color: #2fbe6e;
}
.steps li.active div span:nth-child(8) {
  background: #2fbe6e;
  color: white;
}
.steps li:first-child {
  padding-left: 0px;
}
.steps li:first-child div {
  padding-left: 1px;
}
.steps li:first-child div span:nth-child(2), .steps li:first-child div span:nth-child(3), .steps li:first-child div span:nth-child(6), .steps li:first-child div span:nth-child(7) {
  display: none;
}
.steps li:last-child {
  padding-right: 0px;
  max-width: 182px;
}
.steps li:last-child div {
  padding-right: 1px;
}
.steps li:last-child div span:nth-child(1), .steps li:last-child div span:nth-child(5) {
  display: none;
}



.steps li.first div {
  background: #484041;
}
.steps li.first div span:nth-child(1) {
  border-left-color: #484041;
}
.steps li.first div span:nth-child(2), .steps li.first div span:nth-child(3) {
  border-right-color: #484041;
}
.steps li.first div span:nth-child(4) {
  background: white;
  border-color: #484041;
  display: none;
}
.steps li.first div span:nth-child(5) {
  border-left-color: #484041;
}
.steps li.first div span:nth-child(6), .steps li.first div span:nth-child(7) {
  border-right-color: #484041;
}
.steps li.first div span:nth-child(8) {
  background: #484041;
  color: white;
}

.steps li.second div {
  background: #434371;
}
.steps li.second div span:nth-child(1) {
  border-left-color: #434371;
}
.steps li.second div span:nth-child(2), .steps li.second div span:nth-child(3) {
  border-right-color:  #434371;
}
.steps li.second div span:nth-child(4) {
  background: white;
  border-color: #434371;
  display: none;
}
.steps li.second div span:nth-child(5) {
  border-left-color: #434371;
}
.steps li.second div span:nth-child(6), .steps li.second div span:nth-child(7) {
  border-right-color: #434371;
}
.steps li.second div span:nth-child(8) {
  background: #434371;
  color: white;
}


.steps li.third div {
  background: #79AEA3;
}
.steps li.third div span:nth-child(1) {
  border-left-color: #79AEA3;
}
.steps li.third div span:nth-child(2), .steps li.third div span:nth-child(3) {
  border-right-color:  #79AEA3;
}
.steps li.third div span:nth-child(4) {
  background: white;
  border-color: #79AEA3;
  display: none;

}
.steps li.third div span:nth-child(5) {
  border-left-color: #79AEA3;
}
.steps li.third div span:nth-child(6), .steps li.third div span:nth-child(7) {
  border-right-color: #79AEA3;
}
.steps li.third div span:nth-child(8) {
  background: #79AEA3;
  color: white;
}



.steps li.fourth div {
  background: #0D6E2F;
}
.steps li.fourth div span:nth-child(1) {
  border-left-color: #0D6E2F;
}
.steps li.fourth div span:nth-child(2), .steps li.fourth div span:nth-child(3) {
  border-right-color:  #0D6E2F;
}
.steps li.fourth div span:nth-child(4) {
  background: white;
  border-color: #0D6E2F;
  display: none;
}
.steps li.fourth div span:nth-child(5) {
  border-left-color: #0D6E2F;
}
.steps li.fourth div span:nth-child(6), .steps li.fourth div span:nth-child(7) {
  border-right-color: #0D6E2F;
}
.steps li.fourth div span:nth-child(8) {
  background: #0D6E2F;
  color: white;
}


.steps li.fifth div {
  background: #192702;
}
.steps li.fifth div span:nth-child(1) {
  border-left-color: #192702;
}
.steps li.fifth div span:nth-child(2), .steps li.fifth div span:nth-child(3) {
  border-right-color:  #192702;
}
.steps li.fifth div span:nth-child(4) {
  background: white;
  border-color: #192702;
  display: none;
}
.steps li.fifth div span:nth-child(5) {
  border-left-color: #192702;
}
.steps li.fifth div span:nth-child(6), .steps li.fifth div span:nth-child(7) {
  border-right-color: #192702;
}
.steps li.fifth div span:nth-child(8) {
  background: #192702;
  color: white;
}

.logoParentDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoParentDiv span{
  font-size: 14px;
}

.homeTable{
  margin: 40px 20px;
}

.callNowHome{
  display: flex;
  color: white;
}

@media (max-width: 1024px){
  .callNowHome{
    display: none;
  }
}
.callNowImage{
  display: flex;
  color: white;
  display: none;
}

@media (max-width: 1024px){
  .callNowImage{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    color: bisque;
  }
}
